$primaryColor: rgb(53,80,171);
$secondaryColor: #01D9CD; // rgb(0,195,184);
$color3: rgb(109,248,238);
$color3transparent: rgba(109,248,238,0.2);
$color4: rgb(131,144,193);
$color5: rgb(205,231,233);
$color6: rgb(208,253,249);
$grey1:rgb(66,67,67);
$grey2:rgb(143,143,143);
$grey3:rgb(200,198,198);
$grey4:rgb(227,226,226);
$grey5:rgb(244,244,244);
$successColor:rgb(0,155,93);
$errorColor:rgb(226,96,103);
